@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.list {

    @include tablet {
        padding: 1rem 2rem;
    }

    @include desktop {
        border-left: $mercury solid 2px;
    }
    
    &__container {
        margin: 1rem;
        @include tablet {
            margin: auto;
            // max-width: 80rem;
            max-width: 46rem;
        }   
    }
    &__heading {
        text-transform: uppercase;
        font-weight: 600;
        font-size: .8rem;
        margin-bottom: 1rem;
        color: $silver;
    }
    &__item {
        display: flex;
        height: 100%;
    }
    &__copy {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    &__title, &__user {
        font-size: .82rem;
        line-height: 1.25rem;
        margin: 0;
        padding: 0;
    }
    &__title {margin-bottom: .25rem;}
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .35rem;
    }
    &__img-container {
        display: flex;
        margin-right: 1rem;
        margin-bottom: 1rem;
        max-width: 7rem;
        width: 100%;
        height: 4rem;
    }

}