// Media Query Breakpoints
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 320px;

// Fonts
$xxs : 0.625rem;
$xs: 0.75rem;
$s: 0.8125rem;
$m :0.875rem;
$l: 1.5rem;
$xl: 2.25rem;
$xxl: 3.75rem;

// Colors
// Primary
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;

// Secondary
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065ad;
$mercury: #e1e1e1;
$albaster: #fafafa;