@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.header {
    background: $white;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    // background: red;
    padding-bottom: 1rem;

    @include tablet {
        padding-bottom: 0rem;
        padding: 1rem;
    }

    &__nav {
        @include tablet {
            display: flex;
            width: 100%;
            height: 100%;
            max-width: 80rem;
            align-items: center;
            // align-items: center;
            justify-content: space-between;
        }
    }

    &__logo-img {
        height: 1.65rem;
        margin: 1rem;
    }

    &__container {
        // display: flex;
        @include tablet {
            height: 100%;    
            display: flex;
        }
    }

    &__search {
        display: flex;
        position: relative;
        align-items: center;
        margin-bottom: 1rem;
        
        @include tablet {
            margin-bottom: 0;
            width: 100%;
        }
    }

    &__search-img {
        position: absolute;
        left: .65rem;
    }

    &__search-input {
        margin-right: 1rem;
        width: 100%;
        padding: .9rem 2.1rem;
        background: $albaster;
        border: .1rem $mercury solid;
        border-radius: .25rem;
        
        @include tablet {
            margin-right: 2rem;
            min-width: 16rem;
        }
        @include desktop {
            margin-right: 2rem;
            min-width: 20rem;
        }
    }

    &__profile-img-container {
        height: 3rem;
        min-width: 3rem;
        width: 100%;
        max-width: 3rem;
        overflow: hidden;
        border-radius: 50%;
        background-color: $mercury;

        @include tablet {
            margin-left: 2.3rem;
        }
    }

    &__profile-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 25% 100%;
        // display: none;
    }

}