@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.desc {
    margin: 1rem;
    @include tablet {
        margin: 1rem 2rem;
    }
    
    @include desktop {
        margin: 1rem 0rem;
        margin-left: 2rem;
    }
    

    &__container {
        @include tablet {
            margin: auto;
            max-width: 48rem;
        }
    }

    &__title {
        color: $brainflix-darkblack;
        font-weight: 600;
        font-size: 1.8rem;
    }

    &__meta {
        display: flex;
        // text-align: left;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    &__meta-left {
        display: flex;
        margin-right: auto;
        flex-direction: column;
        @include tablet {
            width: 100%;
            flex-direction: row;
            margin-right: auto;
            margin-right: 40%;
            justify-content: space-between;
        }
    }

    &__meta-right {
        display: flex;
        margin-right: auto;
        flex-direction: column;
        @include tablet {
            width: 100%;
            // margin-right: auto;
            flex-direction: row;
            justify-content: space-between;
        }
        @include desktop {
            margin-right: 2rem;
        }
    }
    
    &__text {
        font-size: .8rem;
        line-height: 1rem;
        @include desktop {
            margin-right: 2rem;
        }
    }

    &__user {
        color: $brainflix-darkblack;
        font-weight: 600;
        margin: .5rem 0;
        font-size: .9rem;
    }

    &__date, &__views, &__likes {
        margin: .5rem 0;
        color: $silver;        
        display: flex;
        align-items: center;
        font-size: .9rem;
    }

    &__icon {
        padding-right: .5rem;
    }

    &__hr {
        background: $mercury;
        border: none;
        height: .12rem;
        border-color: $mercury;
    }

}