@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

// Comments
.comments {
    margin: 1rem;
    @include tablet {
        margin: 1rem 2rem;
    }

    
    &__container {
        @include tablet {
            margin: auto;
            max-width: 46rem;
        }
    }

    &__sub-container {
        display: flex;
    }
    
    &__form {
        @include tablet {
            display: flex;
        }
    }

    &__form-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__heading {
        text-transform: uppercase;
        font-weight: 600;
        font-size: .8rem;
        margin-bottom: .5rem;
        color: $silver;
    }

    &__counter {
        margin: 0;
        font-size: .9rem;
        font-weight: 600;
        margin-bottom: .33rem;
    }
    
    &__textarea {
        // width: 100vw;
        // max-width: 50%;
        font-family: inherit;
        padding: 1rem;
        max-height: 7rem;
        background: $albaster;
        resize: none;
        border: $mercury solid 0.125rem;
        border-radius: .25rem;
        margin-bottom: 1rem;
        min-height: 6.5rem;
        min-width: 15rem;
        width: 100%;
        max-width: 100%;
        // min-width: 3rem;
        &::placeholder {
            font-family: inherit;
            color: $brainflix-darkblack;
        }
        @include tablet {
            padding: .8rem;
            min-height: 0rem;
            max-height: 3rem;
        }
    }

    &__textarea-container {
        width: 100%;
    }

    &__img-container {
        height: 2.25rem;
        min-width: 2.25rem;
        width: 100%;
        max-width: 2.25rem;
        margin: 2rem 1rem 1rem 0rem;
        display: block;
        overflow: hidden;
        border-radius: 50%;
        background-color: $mercury;
        @include tablet {
            height: 3rem;
            min-width: 3rem;
            width: 100%;
            max-width: 3rem;
            margin-right: 2rem;
        }
    }
    
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 25% 100%;
        // display: none;
    }

    &__submit-btn {
        margin-bottom: .8rem;
        margin-left: auto;
        @include tablet {
            margin-bottom: 0rem;
            margin-left: 1.75rem;
        }
    }

    &__hr {
        border: .02rem solid $mercury;
        @include desktop {
            margin-right: -2rem;
        }
    }

    &__posts-container {
        display: flex;
    }
    
    &__text-container {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        font-size: .8rem;
        line-height: 1rem;
    }

    &__content-container {
        display: flex;
        justify-content: space-between;
    }
    
    &__copy {
        margin: auto;
        width: 100%;
        display: block;
    }
    
    &__meta {
        display: flex;
        margin: auto;
        font-size: .9rem;
        margin-bottom: -1.5rem;
        align-items: baseline;
        justify-content: space-between;
    }
    
    &__user {
        font-weight: 600;
    }

    &__date {
        color: $silver;
        font-weight: 400;
    }
}
